name: nsd_windows_v2
description: Flutter network service discovery plugin (Windows submodule - will be installed with the parent plugin).
version: 0.0.1
repository: https://github.com/sebastianhaberey/nsd/tree/main/nsd_windows
issue_tracker: https://github.com/sebastianhaberey/nsd/issues

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  plugin:
    platforms:
      windows:
        pluginClass: NsdWindowsV2PluginCApi
